<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  
  <context:property-placeholder
		location="classpath:studentconfig.properties" />
		
   <bean id="empbean" class="com.cg.spring.Employee">
      <property name="empId" value="${std1.id}"></property>
      <property name="empName" value="${std1.name}"></property>
      <property name="address" ref="addrbean" ></property>  
   </bean>
   
    <bean id="empbean1" class="com.cg.spring.Employee">
      <property name="empId" value="${std2.id}"></property>
      <property name="empName" value="${std2.name}"></property>
      <property name="address" ref="addrbean1" ></property>  
   </bean>
    
   <bean id="addrbean" class="com.cg.spring.Address">
   	<property name="id" value="2001"></property>
   	<property name="city" value="Chennai"></property>
   </bean>
   
   <bean id="addrbean1" class="com.cg.spring.Address">
   	<property name="id" value="2002"></property>
   	<property name="city" value="Hyderabad"></property>
   </bean>
   
  
</beans> 